@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .lateef-extralight {
    font-family: var(--font-lateef), "Lateef", serif;
    font-weight: 200;
    font-style: normal;
  }

  .lateef-light {
    font-family: var(--font-lateef), "Lateef", serif;
    font-weight: 300;
    font-style: normal;
  }

  .lateef-regular {
    font-family: var(--font-lateef), "Lateef", serif;
    font-weight: 400;
    font-style: normal;
  }

  .lateef-medium {
    font-family: var(--font-lateef), "Lateef", serif;
    font-weight: 500;
    font-style: normal;
  }

  .lateef-semibold {
    font-family: var(--font-lateef), "Lateef", serif;
    font-weight: 600;
    font-style: normal;
  }

  .lateef-bold {
    font-family: var(--font-lateef), "Lateef", serif;
    font-weight: 700;
    font-style: normal;
  }

  .lateef-extrabold {
    font-family: var(--font-lateef), "Lateef", serif;
    font-weight: 800;
    font-style: normal;
  }
}
